@mixin secondary-btn {
    padding: 8px 16px;
    background: #f5f5f5;
    color: #212121;
    font-size: 14px;
    font-weight: 400;
    border: none;
    text-transform: uppercase;
    border-radius: 20px;
    transition: all 300ms;
    &:hover {
        background: transparent linear-gradient(270deg, #007BC0 0%, #003F9B 100%) 0% 0% no-repeat padding-box;
        color: #fff;
    }
}

@mixin see-projects {
    border-radius: 20px;
    font-weight: 500;
    padding: 10px 20px;
    margin: 20px 0 10px;
    font-size: 14px;
    background: #000;
    color: #fff;
    transition: all 600ms;
    &:hover {
        background: transparent linear-gradient(270deg, #007BC0 0%, #003F9B 100%) 0% 0% no-repeat padding-box;
    }
}

@mixin introHeadeer {
    font-size: 18px;
    color: #999999;
    font-weight: 600;
    span {
        color: #CCC;
    }
}

@mixin grdColorBtn {
    padding: 14px 30px;
    background: transparent linear-gradient(270deg, #D9EBF6 0%, #D9E3F0 100%) 0% 0% no-repeat padding-box;
    color: #212121;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    transition: all 300ms;
    &:hover {
        background: transparent linear-gradient(270deg, #007BC0 0%, #003F9B 100%) 0% 0% no-repeat padding-box;
        color: #fff;
    }
}

@mixin grdHoverBtn {
    padding: 14px 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    background: #212121;
    border-radius: 30px;
    transition: all 300ms;
    &:hover {
        background: transparent linear-gradient(270deg, #007BC0 0%, #003F9B 100%) 0% 0% no-repeat padding-box;
        color: #fff;
    }
}